body{
    padding: 0;
    margin: 0;
}
nav{
    display: flex;
    background-color: rgb(79, 135, 194);
   justify-content: space-between;
   padding: 5px 50px;
  align-items: center;
}
.nav-menu{
    display: flex;
    gap:100px;
}
.logo{
    display: inline-block;
    color: rgb(251, 247, 247);
    cursor: pointer;
}
.logo h2{
    margin: 0;
    font-weight: 600;
    font-size: 35px;
}
li{
    list-style: none;
}
li a{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    font-weight: 600;
    
}

.dropdown-container{
    position: relative;
}
.dropdown-content{
    position: absolute;
    top: 36px;
    margin-left: -20px;
  padding-left: 10px;
    display: none;
}
.dropdown-content a{
    color: rgb(8, 32, 24);
    text-decoration: none;
    background-color: rgb(5, 71, 100);
    display: block;
    padding: 12px;
    min-width: 150px;
    font-weight: 600;
    font-size: 19px;
    color: white;
}
.dropdown-container a:hover{
    /* text-decoration: underline; */
    color: rgb(169, 10, 10);
   
}

.dropdown-container:hover .dropdown-content{
   display: block;

   
}
.dropdown-content a:hover{
    background-color: rgb(7, 122, 184);
    display: block;
}
.hi-effect {
   
   font-size:150px;
   display: inline-block;
   animation: wave-animation 1s infinite alternate;
}
@keyframes wave-animation{
    0%{transform: rotate(0deg);}
    50%{transform: rotate(40deg);}
    100%{transform: rotate(0deg);}
}

.hero-section{
    display: flex;
    padding: 100px;
  
    gap: 50px;
    color: white;
    font-weight: 600;
    background-color: rgb(117, 156, 198);
}
.hire{
    padding: 15px 30px;
    background-color: rgb(186, 48, 48);
    border-radius: 10px;
    color: aliceblue;
   border: none;
   cursor: pointer;
    font-weight: 600;
    transition: 0.3s ease;
    font-size: 20px;
}

.hire:hover{
    background-color: rgb(7, 44, 137);
    letter-spacing: 2px;
}

/* ------card----hover---- */
.animation{
    background-color:rgba(143, 187, 231, 0.215);
    
}
.card-section{
    display: flex;
    justify-content: space-around;
  
    padding-bottom: 100px;
    
}
.card{
   
    position: relative;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}
.card img{
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;

}

.card:hover img{
    transform: scale(1.1);
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: aliceblue;
    display: flex;
    flex-direction: column;
   text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.card:hover .overlay{
    opacity: 1;
}

/* jjjj */


.card-02{
    width:300px;
    height: 400px;
    border: 2px solid rgba(128, 128, 128, 0.511);

    border-radius: 10px;
}

.card-body{
    padding: 0 10px;
}


.hover-effect-04{
    position: relative;
}
.overlay-01{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.436);
    opacity: 0;
    transform: scale(0.2);
    transition: all 0.3s linear;
    border-radius: 10px 10px 0 0;
} 
.hover-effect-04 img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.hover-effect-04 h2{
    position: absolute;
    top: 40%;
    left: 0;
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: 600;
    opacity: 0;
    transition: all 0.3s linear;

}
 .hover-effect-04:hover .overlay-01{
    opacity: 1;
    transform: scale(1);
} 
.hover-effect-04:hover h2{
    opacity: 1;
    top:30%;
    left: 5%;
} 

/* ---cricket---- */

.cricket{
    display: flex;
    background-color: rgba(130, 211, 130, 0.479);
   align-items: center;
   justify-content: center;
   height: 400px;
   width: 400px;
   border-radius: 10px;
   overflow: hidden;
   gap: 100px;
   position: relative;
}

.ball img{
    
    height: 50px;
    width: 50px;
    position: relative;
    left: -200px;
    top: 100px;
   
}
.cricket:hover .bat{
    transform: rotate(-60deg);
    transform-origin: top right;
    transition: transform 0.2s ease-in;
}
.cricket:hover .ball img{
    transform:translate(400px);
    transform-origin: bottom right;
   

    transition: transform 0.6s ease-out;
}

footer{
    background-color: rgb(79, 135, 194);
    padding: 80px 40px 20px 40px;
    color: white;
    text-align: center;
  
}
footer h3{
    margin: 0;
}
